p {
    
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 70px;
    padding-top: 56px;
    margin: 0px;
}

.body-expanded {
    padding-left: 210px;
}

a {
    text-decoration: none;
    color: black;
}