.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    z-index: 100;
}
.sidebar-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    cursor: pointer;
}

.sidebar-icons-container:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-icons-container img {
    height: 24px;
    margin-bottom: 6px;
}

.sidebar-icons-container div {
    font-size: 10px;
}